
*
body{
    background-color: aqua !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#loginBtn{
    margin-inline: 10px;
}
#regBtn{
    margin-inline: 10px;
}

.navbar-dark .navbar-brand{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

#cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;
    margin-bottom: 2em;
    ;

}
.card{
    box-shadow: 0 0 4px 3px rgb(203, 233, 127);
}
.card:hover{
    background-color: gray;
    color: #fff;
}
h1,h3{
  color: rgb(28, 28, 208);
}
 .border{
    background: red;
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;

 }
    