*{
    box-sizing: border-box;
}
body{
 margin: 0;   
 background-color:aqua;
 font-family: sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 20px 25px rgba(0,0,0,3);
    max-width: 100%;
}
.header{
    border-bottom: 3px white;
    background-color:whitesmoke;
    padding: 20px 40px;
}
.header h2{
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form{
    padding: 20px 30px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.form-control label{
    display:inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border-color: grey;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus{
    outline: none;
    border-color: black;
}

.form button{
    background-color: rgb(60, 44, 205);
    border: none;
    color:white;
    display: block;
    font-size: 17 px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}












